.card {
    padding: 0.8rem;
    box-shadow: 6px 8px 10px $card-shadow-color;
    transition: transform 0.5s;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        color: $header-color;
    }
}
