// Definición de variables personalizadas

// Colores base
$color-dark: #352F44;
$color-medium: #5C5470;
$color-light: #B9B4C7;
$color-background: #FAF0E6;
$color-background-light: #fff9f3;

// Colores por función
$navbar-bg-color: $color-dark;
$navbar-text-color: $color-background;
$header-color: $color-dark;
$paragraph-color: $color-medium;
$button-bg-color: $color-dark;
$button-text-color: $color-background;
$body-bg-color: $color-background;
$anchor-color: $color-dark;
$anchor-hover-color: darken($color-dark, 10%);
$fontawesome-color: $color-dark;
$card-bg-color: $color-background-light;
$card-shadow-color: #352f4433;

// Tamaños personalizados
$card-radius: 0.5rem;

